.bz-bikes-red {
  background-color: rgba(255, 0, 0, 0.5);
}
.btn-btn-color {
  background: #e76f51;
}
.p-p-color {
  color: #e76f51;
}
.card-des {
  color: #23a6f0;
}
.nav-item-styles {
  list-style: none;
  margin-right: 8px;
  margin-left: 0;
}
